* {
  margin: 0;
  padding: 0;
}
/* Navbar */
nav ul li {
  padding: 0 30px;
}

.navbar-brand {
  padding-left: 60px;
}

nav {
  background-color: black;
}

/* jumbotron */
.jumbotron-fluid {
  background-image: url("media/jumbotron.jpg");
  background-size: cover;
  height: 800px;
  padding-top: 300px;
  color: white;
}

/* Feature */
.feature {
  padding: 150px 0;
}

.feature-h1 {
  margin-left: 80px;
  margin-bottom: 40px;
  border-bottom: 2px solid black;
  width: fit-content;
}

.row {
  padding: 40px 20px;
}

/* Contact */
.jumbotron {
  background-image: url("media/contact.jpg");
  background-size: cover;
  color: white;
}

.contact-content {
  padding: 100px 0;
}

/* form */
.form-login {
  padding: 200px 100px;
}

.back {
  text-decoration: none;
  position: relative;
  bottom: 20px;
  text-align: center;
  color: #f8f9fa;
}

/* Responsive Breakpoint */
@media (min-width: 992px) {
  .jumbotron {
    margin-top: -60px;
  }
  .form-body {
    background-image: url("media/jumbotron.jpg");
  }

  .form-login {
    width: 40%;
    border: 1px solid #f8f9fa;
    margin: 20px 400px;
    padding: 70px;
  }

  .btn-login {
    margin: 20px 0;
  }

  .back {
    text-decoration: none;
    position: relative;
    left: 140px;
    bottom: 40px;
    color: #f8f9fa;
  }
}
